*{padding: 0;margin: 0;box-sizing: border-box;}
.fix{overflow: hidden;}
/*header part*/
.col-6 {width: 50%;float: left;padding: 0 15px;}
.col-4 {width: 33.33%;float: left; padding: 0 15px;}
.col-12 {width: 100%;float: left; padding: 0 15px;}
.col-3 {width: 25%;float: left;padding: 0 15px;}
.col-2 {width:16.66%;float: left;padding: 0 15px;}
.col-8 {width: 66.66%;float: left;padding: 0 15px;}
.col-1 {width: 8.33%;float: right;padding: 0 15px;}
.pb-70{padding-bottom: 70px;}
.pt-70{padding-top: 70px;}
body{
	font-family: 'Lato', sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}

/*   header-area   start     */


.header-area {
	height: 120px;
	background: white;
}
.logo {
	display: inline-block;
	margin-top: 18px;
}
.logo a img {
	width: 137px;
	padding-top: 20px;
}
.main-menu{
    float: right;  
}
.main-menu ul li {
	display: inline-block;
	margin-left: 25px;
	font-size: 25px;
	margin-top: 45px;
}
.main-menu ul li a{
    text-decoration: none;
    text-align: right;
    font-size: 16px;
	color: #666666;
}
.header-icon {
	font-size: 20px;
}
.header-icon {
	margin-top: 53px;
	text-align: center;
}


/*   header-area   end     */



/*        slider part  start      */


.slider-area{
    text-align: center;
}
.single-slider{
    padding: 115px 0;
}
.single-slider h4{
	padding-top: 100px;
	color: white;
	font-size: 30px;
	margin: 0;
}
.single-slider h1 {
	color: white;
	font-size: 60px;
	margin: 20px;
    padding-bottom: 20px;
}
.single-slider a {
	font-size: 25px;
	text-decoration: none;
	color: white;
	background: #507BD6;
    padding: 20px 20px;
    border-radius: 5px;
}


/*        slider part  end      */




/*        cta part  start      */




.cta-area{
	background: #507BD6;
	padding: 25px;
}
.cta-text{}
.cta-text p {
	color: #f8f6f6;
	font-size: 20px;
	font-weight: 500;
	margin-top: 6px;
}
.cta-text span{
	color: rgb(247, 247, 255);
	font-size: 30px;
	font-weight: 600;
}
.cta-batton {
	text-align: right;
	margin-right: 95px;
}
.cta-batton a {
	text-decoration: none;
	color: rgb(247, 241, 241);
	border: 2px solid #f8f6f6;
	padding: 10px 30px;
	font-size: 24px;
	display: inline-block;
}



/*        cta part  end      */






/*       features area   start      */




.single-features {
	position: relative;
	overflow: hidden;
}
.features-img{}
.features-img img {
	width: 360px;
	background-size: cover;
	height: 300px;
}
.features-content {
	position: absolute;
	top: 0;
	left: 0;
	background: #507BD6;
	color: white;
	bottom: 0;
	padding: 30px;
	transition: 0.3s;
	transform: translateY(70%);
}
.single-features:hover .features-content{transform: translateY(0);}
.features-content p {
	margin-bottom: 23px;
	line-height: 24px;
}
.features-content a {
	color: #f8f6f6;
	text-decoration: none;
	font-size: 15px;
}
.features-icon {
	margin-bottom: 25px;
}
.features-icon i {
	font-size: 30px;
	display: inline-block;
}
.features-icon h3 {
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}



/*       features area   end      */





/*  service area   start */



.section-title {
	text-align: center;
	margin-bottom: 83px;
}
.section-title h2 {
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	color: #333333;
	padding-bottom: 10px;
}
.section-title > h2::before{
	position: absolute;
	background: #ADADAD;
	height: 2px;
	width: 50px;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.service-area {
	background: #F0F0F0;
	padding-bottom: 40px;
}
.single-service {
	display: flex;
	margin-bottom: 60px;
}
.service-icon i {
	height: 60px;
	width: 60px;
	background: #4272d7;
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 56px;
}
.service-contact{
	padding-left: 15px;
}
.service-contact h3 {
	color: #555555;
	font-weight: 700;
	margin-bottom: 15px;
}
.service-contact p {
	font-size: 15px;
	color: #666666;
	line-height: 25px;
}


/*  service area   end */





/*        project-area  start     */



.project-title {
	text-align: center;
	padding-bottom: 100px;
}
.project-title h3 {
	color: white;
	padding-bottom: 16px;
	position: relative;
	font-size: 27px;
}
.project-title > h3::before {
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 2px;
	position: absolute;
	width: 50px;
	background: #ADADAD;
}

.project-area {
	background-color: #222222;
}
.project-wrapper {
	position: relative;
	overflow: hidden;
}
.project-image{}
.project-image img {
	width: 100%;
}
.project-text {
	position: absolute;
	top: 0;
	left: 0;
	background-color: blue;
	width: 100%;
	height: 100%;
	padding-top: 78px;
	text-align: center;
	visibility: hidden;
	transition: 0.3s;
}
.project-wrapper:hover .project-text{visibility: visible;}
.project-text h3 {
	color: white;
	font-size: 18px;
}
.project-tags{}
.project-tags a {
	text-decoration: none;
	color: white;
}


/*        project-area  end     */



/*   choose-area start       */




.choose-area{}
.choose-title {
	text-align: center;
	margin-bottom: 90px;
	position: relative;
}
.choose-title h4 {
	color: #333333;
	font-size: 25px;
	padding-bottom: 15px;
}
.choose-title > h4::before{
    content: "";
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	width: 50px;
	height: 2px;
	background: #ADADAD;
	position: absolute;
}
.video-area {
	position: relative;
}
.video-area img {
	width: 100%;
}
.popup-video{}
.popup-video i {
	position: absolute;
	top: 0;
	font-size: 60px;
	color: white;
	margin-top: 25%;
	margin-left: 250px;
}
.single-choose-list {
	padding-left: 15px;
}
.choose-icon {
	display: flex;
}
.choose-icon i {
	font-size: 25px;
	color: #555555;
}
.choose-icon h4 {
	margin-left: 15px;
	color: #555555;
	font-size: 20px;
	margin-bottom: 15px;
}
.choose-dese{}
.choose-dese p {
	color: #555555;
	font-size: 20px;
	margin-bottom: 28px;
}



/*   choose-area end       */















