*{padding: 0;margin: 0;box-sizing: border-box;}
.fix{overflow: hidden;}
/*header part*/
.col-6 {width: 49.33%;float: left;}
.col-4 {width: 33.33%;float: left; padding: 0 15px;}
.col-3 {width: 28.33%;float: left;}
.col-2 {width:16.33%;float: left;}
.col-8 {width: 66.33%;float: left;}
.col-1 {width: 5.33%;float: right;}
.pb-70{padding-bottom: 70px;}
.pt-70{padding-top: 70px;}
body{
	font-family: 'Lato', sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}
.header-area {
	height: 120px;
	background: white;
}
.logo {
	display: inline-block;
	margin-top: 18px;
}
.logo a img {
	width: 137px;
	padding-top: 20px;
}
.main-menu{
    float: right;  
}
.main-menu ul li {
	display: inline-block;
	margin-left: 25px;
	font-size: 25px;
	margin-top: 45px;
}
.main-menu ul li a{
    text-decoration: none;
    text-align: right;
    font-size: 16px;
	color: #666666;
}
.header-icon {
	font-size: 22px;
}
.header-icon {
	float: right;
	margin-top: 49px;
}
/* slider part  */


.slider-area{
    text-align: center;
}
.single-slider{
    padding: 115px 0;
}
.single-slider h4{
	padding-top: 100px;
	color: white;
	font-size: 30px;
	margin: 0;
}
.single-slider h1 {
	color: white;
	font-size: 60px;
	margin: 20px;
    padding-bottom: 20px;
}
.single-slider a {
	font-size: 25px;
	text-decoration: none;
	color: white;
	background: #507BD6;
    padding: 20px 20px;
    border-radius: 5px;
}



/*   cta part  */




.cta-area{
	background: #507BD6;
	padding: 25px;
}
.cta-text{}
.cta-text p {
	color: #f8f6f6;
	font-size: 20px;
	font-weight: 500;
	margin-top: 6px;
}
.cta-text span{
	color: rgb(247, 247, 255);
	font-size: 30px;
	font-weight: 600;
}
.cta-batton {
	text-align: right;
	margin-right: 95px;
}
.cta-batton a {
	text-decoration: none;
	color: rgb(247, 241, 241);
	border: 2px solid #f8f6f6;
	padding: 10px 30px;
	font-size: 24px;
	display: inline-block;
}





/*features area*/




.single-features {
	position: relative;
	overflow: hidden;
}
.features-img{}
.features-img img {
	width: 360px;
	background-size: cover;
	height: 300px;
}
.features-content {
	position: absolute;
	top: 0;
	left: 0;
	background: #507BD6;
	color: white;
	bottom: 0;
	padding: 30px;
	transition: 0.3s;
	transform: translateY(70%);
}
.single-features:hover .features-content{transform: translateY(0);}
.features-content p {
	margin-bottom: 23px;
	line-height: 24px;
}
.features-content a {
	color: #f8f6f6;
	text-decoration: none;
	font-size: 15px;
}
.features-icon {
	margin-bottom: 25px;
}
.features-icon i {
	font-size: 30px;
	display: inline-block;
}
.features-icon h3 {
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}














